<link rel="stylesheet" href="/components/Trending/faq/faqStyle/faqStyle.css">

<div class="faq-component">
    <div class="faq-container">
        <h1>Frequently Asked Questions</h1>
        <details>
            <summary>How do I create accordion?
            </summary>
            <div>
                The tags <em>details</em> and
                <em>summary</em> have
                you covered.
            </div>
        </details>
        <details>
            <summary>How do I create accordion?
            </summary>
            <div>
                The tags <em>details</em> and
                <em>summary</em> have
                you covered.
            </div>
        </details>
        <details>
            <summary>How do I create accordion?
            </summary>
            <div>
                The tags <em>details</em> and
                <em>summary</em> have
                you covered.
            </div>
        </details>
    </div>
</div>