<link rel="stylesheet" href="/components/Trending/service-card/serviceCardStyle/serviceCardStyle.css">

<div class="service-component">
    <div class="service-card">
        <div class="service-item">
            <div class="service-content">
                <h1>Enjoy on your TV</h1>
                <p>Watch on smart TVs, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray players and more.</p>
            </div>
            <div class="service-image">
                <img src="../../../assets/svg/computer.svg" alt="TV Image">
            </div>
        </div>
        <div class="service-item">
            <div class="service-content">
                <h1>Enjoy on your TV</h1>
                <p>Watch on smart TVs, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray players and more.</p>
            </div>
            <div class="service-image">
                <img src="../../../assets/svg/download.svg" alt="TV Image">
            </div>
        </div>
        <div class="service-item">
            <div class="service-content">
                <h1>Enjoy on your TV</h1>
                <p>Watch on smart TVs, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray players and more.</p>
            </div>
            <div class="service-image">
                <img src="../../../assets/svg/watchnow.svg" alt="TV Image">
            </div>
        </div>
        <div class="service-item">
            <div class="service-content">
                <h1>Enjoy on your TV</h1>
                <p>Watch on smart TVs, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray players and more.</p>
            </div>
            <div class="service-image">
                <img src="../../../assets/svg/profile.svg" alt="TV Image">
            </div>
        </div>
        
    </div>
</div> 