/* .email-component{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    margin-top: 20px;
} */

.email-component h1{
    font-size: 1.5rem;
}
