<link rel="stylesheet" href="/components/Trending/carousel/carouselStyle/carouselStyle.css">

<div class="carousel-container">
    <button class="carousel-prev">&#10094;</button>
    <div class="carousel-slider">
        <div class="carousel-track">
            <div class="carousel-card">
                <img src="../../../assets/cards_image/image1.jpg" alt="Card 1">
                <h1>1</h1>
            </div>
            <div class="carousel-card">
                <img src="../../../assets/cards_image/image2.jpg" alt="Card 1">
                <h1>2</h1>
            </div>
            <div class="carousel-card">
                <h1>3</h1>
                <img src="../../../assets/cards_image/image3.jpg" alt="Card 1">
            </div>
            <div class="carousel-card">
                <img src="../../../assets/cards_image/image4.jpg" alt="Card 1">
                <h1>4</h1>
            </div>
            <div class="carousel-card">
                <img src="../../../assets/cards_image/image1.jpg" alt="Card 2">
                <h1>5</h1>
            </div>
            <div class="carousel-card">
                <h1>6</h1>
                <img src="../../../assets/cards_image/image2.jpg" alt="Card 3">
            </div>
            <div class="carousel-card">
                <img src="../../../assets/cards_image/image3.jpg" alt="Card 4">
                <h1>7</h1>
            </div>
            <div class="carousel-card">
                <img src="../../../assets/cards_image/image4.jpg" alt="Card 5">
                <h1>8</h1>
            </div>
        </div>
    </div>
    <button class="carousel-next">&#10095;</button>
</div> 


<script src="/components/Trending/carousel/carouselScript.js"></script>