<link rel="stylesheet" href="/components/Trending/TrendingHeader/TrendingHeaderStyle/TrendingHeaderStyle.css">
<div class="heading-component">
    <h1>
        Treading Now
    </h1>
</div>
<div class="Tranding-drop-down">
    <select name="country-drop-down" id="drop-down">
        <option value="in">India</option>
        <option value="gl">Global</option>
    </select>
</div>
<div class="Tranding-drop-down">
    <select name="movie-drop-down" id="drop-down">
        <option value="movie">Movies</option>
        <option value="tvshow">TV shows</option>
    </select>
</div>